<h2 class="title">Home</h2>
<div class="content">
  <img class="avatar" src="{{host}}/img/grauwoelfchenskafee.jpg" width="160" alt="avatar"/>
  <p>Hoi Zäme! I'm Yasha.<br/>Thank you for visiting at my website.</p>

  <div class="description">
    <h3>What <code>Grauwölfchen</code> means?</h3>
    <p>That's my nickname (addition to Yasha) on the internet. <code>Grau</code> means gray colour, and <code>Wölfchen</code> means a kid of a wolf in German.<br/>According to requirements, It's written also as <code>grauwoelfchen</code>(<code>ö</code> -> <code>oe</code>) sometimes.</p>
    <p>Also, my tiny own firm for software development; <a href="https://lupine-software.com/">Lupine Software LLC</a> is named after wolf, too.<br/>I just like wolf ;)</p>

    <h3>Why this website is not arranged as centre?</h3>
    <p>I pretend that this is a website exists from the good old days, ha ha.</p>
    <p>In my humble but a bit selfish opinion, it's easier to read that text is put on leftmost (or rightmost regarding language) on a web page rather than centred because that causes less eye movement. Especially if you come from something a terminal application in which you input commands, moving your eyes left-right by design would bother you.<br/>I just want my website to be friendly and readable for those who have such a preference as I do. I hope you like this.</p>
    <p>If you see this on a wide screen, then you perhaps might be confused.</br>Please consider using something tile-ed window manager, and split or move windows as needed XD</p>
    <p>If you have any good suggestions for this, then <a href="{{host}}/about.html">email</a> me.</p>
  </div>

  <div class="photo">
    <h3>workroom(s)</h3>
    <ul>
      <li>
        <img src="{{host}}/img/workroom-300x245-20171010.jpg"
          width="255"
          height="184"
          alt="Workroom - 2011-2019" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_2012.jpg"
          width="255"
          height="184"
          alt="Workroom" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_20200418_020226.jpg"
          width="255"
          height="184"
          alt="Workroom" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_20210107_014542.jpg"
          width="255"
          height="184"
          alt="Workroom" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_20210505_093925.jpg"
          width="255"
          height="184"
          alt="Workroom" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_2021.jpg"
          width="255"
          height="184"
          alt="Workroom - 2021-" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_2021-1.jpg"
          width="255"
          height="184"
          alt="Workroom - 2021-" />
      </li>
    </ul>
  </div>
</div>
