<h2>Home</h2>
<div class="main">
  <img src="{{host}}/img/grauwoelfchenskafee.jpg" width="160" alt="Logo"/>
  <div>
    <p>Hoi Zäme! I'm Yasha.<br/>Thank you for visiting at my website ;)</p>
  </div>
  <div class="photo">
    <h3>workroom(s)</h3>
    <ul>
      <li>
        <img src="{{host}}/img/workroom-300x245-20171010.jpg"
          width="255"
          height="192"
          alt="Workroom - 2011-2019" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_2012.jpg"
          width="255"
          alt="Workroom" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_20200418_020226.jpg"
          width="255"
          alt="Workroom" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_20210107_014542.jpg"
          width="255"
          alt="Workroom" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_20210505_093925.jpg"
          width="255"
          alt="Workroom" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_2021.jpg"
          width="255"
          alt="Workroom - 2021-" />
      </li>
      <li>
        <img src="{{host}}/img/IMG_2021-1.jpg"
          width="255"
          alt="Workroom - 2021-" />
      </li>
    </ul>
  </div>
</div>
