!!! XML
!!! Strict
%html
  %head
    %title Grauwoelfchen's Workroom
    %meta(content="text/html" charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="stylesheet.css")
  %body
    #header
      %h1 Grauwoelfchen's Workroom
      %ul.navi
        %li
          %a(title="Home" href="/" class="#{link_class_for('/')}") Home
        %li
          %a(title="About" href="/about" class="#{link_class_for('/about')}") About
        %li
          %a(title="Software" href="/software" class="#{link_class_for('/software')}") Software
        %li
          %a(title="Link" href="/link" class="#{link_class_for('/link')}") Link
    #content
      = yield
    #footer
      #status
        %a(title="Server status" href="http://up.grauwoelfchen.net/")
          Server status
      #copyright
        %span.license
          %a(title="License" href="https://gitlab.com/grauwoelfchen/workroom/blob/master/LICENSE")
            AGPL-3.0
          &nbsp;+&nbsp;
          %a(title="License" href="https://gitlab.com/grauwoelfchen/workroom/blob/master/README.md")
            GFDL-1.3
        Copyright &copy; 2014 - 2018
        %a(title="Author" href="/about" rel="author" class="author")
          Yasuhiro Asaka
